* {
    font-size: 1.125rem;
}


body {
    background-color: rgb(216, 220, 224);
}

.main {
    font-size: 1.1875rem;
}

.display-flex {
    display: flex;
}

.center-flex {
    justify-content: center;
}

.display-none {
    display: none;
}

.progress .progress-bar {
    background-color: rgba(0, 0, 0, 0.63);
}

.progress-value {
    height: 100%;
    animation: progress 1.2s linear forwards;
  }
  
  @keyframes progress {
      from { width: 0%; }
      to { width: 100%; }
  }
